.instructores{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.profesores{
    h3{
        background-color: black;
        color: white;
    }
    img{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 5px solid black;
    }
}

@media(max-width:600px) {
   .instructores{
    display: flex;
    flex-direction: column;
   }
    
}